<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.15" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.3.0" targetFramework="net461" />
  <package id="TsSoft.AbstractMapper" version="1.1.2" targetFramework="net461" />
  <package id="TsSoft.AbstractMapper.Entity" version="1.1.2" targetFramework="net461" />
  <package id="TsSoft.AbstractMapper.Factory" version="1.1.2" targetFramework="net461" />
  <package id="TsSoft.AbstractMapper.Include" version="1.1.2" targetFramework="net461" />
  <package id="TsSoft.AbstractMapper.Select" version="1.1.2" targetFramework="net461" />
  <package id="TsSoft.AbstractMapper.Update" version="1.1.2" targetFramework="net461" />
  <package id="TsSoft.BindingsDescription" version="1.1.2" targetFramework="net461" />
  <package id="TsSoft.EntityRepository.Interfaces" version="1.1.2" targetFramework="net461" />
  <package id="TsSoft.Expressions.Helpers" version="1.1.2" targetFramework="net461" />
  <package id="TsSoft.Expressions.Helpers.Entity" version="1.1.2" targetFramework="net461" />
  <package id="TsSoft.Expressions.IncludeBuilder" version="1.1.2" targetFramework="net461" />
  <package id="TsSoft.Expressions.IncludeBuilder.Models" version="1.1.2" targetFramework="net461" />
  <package id="TsSoft.Expressions.Models" version="1.1.2" targetFramework="net461" />
  <package id="TsSoft.Expressions.OrderBy" version="1.1.2" targetFramework="net461" />
  <package id="TsSoft.Expressions.SelectBuilder" version="1.1.2" targetFramework="net461" />
  <package id="TsSoft.Expressions.SelectBuilder.Models" version="1.1.2" targetFramework="net461" />
</packages>